<h1>My Reading List:</h1>
<p>Total books: <%= @current_user.total_books %></p>

<table>
    <tr>
        <th>Book Title</th>
    </tr>
    <% @current_user.books.each do |book| %>
        <tr>
            <td><%= link_to book.title, book %></td>
        </tr>
    <% end %>
    </tr>
</table>