<h1 class="text-center">My Reading List</h1>
<p class="text-center">Total books: <%= @current_user.total_books %></p>

<div class="row ml-1 mt-2">
    <% @current_user.books.each do |book| %>
        <div class="card col-sm-3 m-2" style="width: 18rem;">
        <%# <img src="..." class="card-img-top" alt="..."> %>
            <div class="card-body">
                <h5 class="card-title"><%= link_to book.title, book %></h5>
                <p class="card-text"><%= h truncate(book.synopsis_cleansing, :length => 80) %></p>
                <p><%= link_to "Add a review", new_review_path(book_id: book.id), class:"btn btn-primary" %></p>
            </div>
        </div>
    <% end %>
</div>