/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



html {
    background-color: #88DBDF;
    
}

body {
    margin: 2% 15% ;
    padding: 2%;
    border-color: #88DBDF;
    border-width: 30px;
    border-style: solid;
    background-color: white;
    color: #53565A;
}

h5 {

    font-size: 24pt;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}

.img_book_fit {
    width:200px;
    height:300px;
    object-fit:cover;
}

.small-caps { 
    font-variant: small-caps;
    font-size: 24px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-success {
    background-color: #009ca6 !important;
    border-width: 0px;
    border-style: none;
    color: white;
}

.btn-remove, .btn-remove:hover {
    background-color: #ff6f61 !important;
    border-width: 0px;
    border-style: none;
    color: white;
}

.btn-inactive, .btn-inactive:hover {
    background-color: #bbbcbc !important;
    border-width: 0px;
    border-style: none;
    color: white;
}

.btn-burgundy, .btn-burgundy-hover {
    background-color: #933e3a !important;
    border-width: 0px;
    border-style: none;
    color: white;  
}

.welcome {
    letter-spacing: 0.02em;
    border-width: 0px;
    border-style: none;
    color: #ff6f61;
    font-family: 'Lobster';
    font-weight: 900;
    font-size: 48px;

}

nav a:hover {
    border-bottom:1px solid;
    color:#53565A;
    padding-bottom:5px;
}
.nav-item a{
    color: #53565A
    
     }
    
    .nav-item a:hover{
        color: #ff6f61;
        
         }
    .search-form {
        margin: 0 auto;
        width: 300px;
        position: relative;
     */
    }
    
    .strapline {
        color: #ff6f61;
        font-size: 2.5em !important;
        font-weight: 600;
    }
